[package]
name = "client"
version = "0.1.0"
edition = "2024"

[features]
default = []
macroquad-ui = ["macroquad"]

[dependencies]
rand = "0.9.2"
renet = "1.2.0"
renet_netcode = "1.2.0"
shared = { path = "../shared" }
macroquad = { version = "0.4", optional = true }