[package]
name = "client"
version = "0.1.0"
edition = "2024"

[dependencies]
crossterm = "0.29.0"
rand = "0.9.2"
renet = "1.2.0"
renet_netcode = "1.2.0"
shared = { path = "../shared" }
bincode = { version = "2.0.1", features = ["serde"] }
macroquad = "0.4.14"