[package]
name = "client"
version = "0.1.0"
edition = "2024"

[dependencies]
bincode = { version = "2.0.1", features = ["serde"] }
common = { path = "../common" }
crossterm = "0.29.0"
macroquad = { version = "0.4.14", features = ["audio"] }
rand = "0.9.2"
renet = "1.2.0"
renet_netcode = "1.2.0"
