[package]
name = "client"
version.workspace = true
edition.workspace = true

[dependencies]
common = { workspace = true }
crossterm = { workspace = true }
macroquad = { version = "0.4.14", features = ["audio"] }
rand = { workspace = true }
renet = { workspace = true }
renet_netcode = { workspace = true }
bincode = { version = "2.0.1", features = ["serde"] }
