[package]
name = "server"
version = "0.1.0"
edition = "2024"

[dependencies]
bincode = { version = "2.0.1", features = ["serde"] }
glam = { version = "0.27.0", features = ["serde"]}
crossterm = "0.29.0"
rand = "0.9.2"
renet = "1.2.0"
renet_netcode = "1.2.0"
shared = { path = "../shared" }
ctrlc = "3.5.1"