[package]
name = "server"
version = "0.1.0"
edition = "2024"

[dependencies]
bincode = { version = "2.0.1", features = ["serde"] }
crossterm = "0.29.0"
renet = "1.2.0"
renet_netcode = "1.2.0"
shared = { path = "../shared" }
