[package]
name = "shared"
version = "0.1.0"
edition = "2024"

[dependencies]
rand = "0.9.2"
renet = "1.2.0"
serde = { version = "1.0.228", features = ["derive"] }
macroquad = "0.4.14"
socket2 = "0.6.1"